<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>PurCinéma</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/tabla.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link  type="text/css" href="./css/tabla.css"> 
<link rel="icon" type="image/png" href="imagenes/icono/icono.png" />
<script type="text/javascript" src="./js/ejemplo_table.js"></script>
</head>

<body class="general" style="background-color: #e0e0d1">
     <div>
        <center>
            <img id="icono" src="imagenes/icono/icono_opt.png" >
            <h2>PurCinéma</h2>  
        </center>  
    </div> 
    <section class="global_sect">
        <div class="container"  style="background-color: white">
            <div class="table-refe">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Peliculas</b></h2></div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Genero</th>
                            <th>Año</th>
                            <th>Puntuación</th>
                            <th>Edición</th>
                            <th>Pendiente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- for x en datos {
                            <td>
                                x.titulo
                            </td>
                            <td>
                                x.genero
                            </td>
                            <td>
                                x.año
                            </td>
                        } -->
                    </tbody>
                </table>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Añadir Pelicula</button>
                </div>
            </div>
        </div> 
    </section>    
</body>
</html>  